/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;300&display=swap');

body {
    margin: 0;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    background: linear-gradient(0deg, rgba(255,242,209,1) 0%, rgba(128,215,199,1) 50%, rgba(84,197,222,1) 100%);
    background: linear-gradient(0deg, rgb(255, 236, 233) 30%, rgb(255, 255, 255) 85%, rgb(206, 55, 44) 100%); 

}

h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* Estilos del header */
header {
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

header h1{
    font-size: 18px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color:#5a1212;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 4px 8px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 4px;
}

nav li:hover {
    color:#202020;
    background-color: antiquewhite;
}

@media screen and (max-width: 767px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 10px;
    }
}

/* Estilos de las secciones */
section {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 1200px;
}

#intro {
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgba(0, 30, 90, 0.8) 0%, rgba(102, 0, 255, 0.1) 100%), url(assets/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 80px 0;
    height: 400px;
    position: relative;
}

h2 {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
    color: rgb(235, 105, 105);
}

.avatar {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.column {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 40px;
}

.column h3 {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    section.columnas {
        padding: 50px;
        display: flex;
        justify-content: space-between;
    }

    .column {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 767px) {
    section.columnas {
        padding: 50px;
    }
}

section.titulo {
    font-size: 30px;
    text-align: center;
}

section li {
    margin: 14px 0;
}

#projects {
    color: #303030;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    flex: 0 0 300px;
}

@media screen and (max-width: 768px) {
    .project-card {
        width: 100%;
        flex: 0 0 100%;
    }
}

.project-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-card h3 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.project-card p {
    padding: 0 10px;
    margin-bottom: 14px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos del divisor */
.custom-shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}

.custom-shape-divider .shape-fill {
    fill: #FFFFFF;
}

/* Estilos del footer */
footer {
    background-color: #444;
    color: #999;
    text-align: center;
    padding: 10px;
}

/* Animaciones y transiciones */
.fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.fade-in.active {
    opacity: 1;
}