body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemon-card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .pokemon-card:hover {
    transform: translateY(-5px);
  }
  
  .pokemon-card img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
  }
  
  .pokemon-card p {
    margin: 0;
    font-weight: bold;
    color: #333;
  }
  